* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: Arial;
}

.menu-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 64px;
    font-size: 14px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.logo {
    width: 82px;
    margin-left: 170px;
}

.menu-block {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    height: 100%;
}

.item-block {
    height: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.arrow-img {
    width: 12px;
    margin-left: 3px;
}

.link-block {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.drop-window {
    position: absolute;
    top: 64px;
    left: 0;
    background-color: white;
    border: #dadada 1px solid;
    border-top: unset;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    visibility: hidden;
    transition-duration: .1s;
}

.item-block:hover .drop-window {
    visibility: visible;
}

.item-block:hover .arrow-img {
    transform: rotate(180deg);
}

.item-block:hover .item {
    color: #14a800;
}

.search-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #e9e9e9 1px solid;
    height: 40px;
    border-radius: 20px;
    margin-left: 250px;
}

.search-panel:hover {
    background-color: #e9e9e9;
}

.search-panel:hover .search-input {
    background-color: #e9e9e9;
    border: #e9e9e9 1px solid;
}

.search-input:focus {
    border: black 1px solid;
}

.input-div:hover {
    background-color: #f9f9f9;
}

.input-div:hover .search-input {
    background-color: #f9f9f9;
    border: #f9f9f9 1px solid;
}

.t:hover {
    background-color: #f9f9f9;
}

.search-panel > a {
    height: 100%;
}

.loupe {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
}

.input-div {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: transparent 1px solid;
}

.search-panel:focus-within {
    background-color: #e9e9e9;
}

.input-div:focus-within {
    border: black 1px solid;
    background-color: white;
}

.input-div:focus-within .search-input {
    background-color: white;
    border: white 1px solid;
}

.search-input {
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: white 1px solid;
}

.t {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.arrow-t {
    margin-left: 1px;
    width: 12px;
}

.buttons {
    display: flex;
    align-items: center;
    height: 40px;
}

.buttons > a {
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 10px;
    height: 100%;
    color: black;
}

.sign-up {
    background-color: #108a01;
    color: white;
}

/**/
.business-block {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.info-block {
    border-radius: 8px;
}

.left {
    background-color: #f2f7f2;
    padding: 48px 0 48px 30px;
    margin-right: 30px;
    position: relative;
    z-index: -1;
}

.right {
    background-color: #14a800;
    padding: 0 26px 0 84px;
    z-index: -2;
}

.block-title {
    font-size: 72px;
    font-weight: bold;
    padding-right: 130px;
    color: #181818;
}

.info {
    display: flex;
    align-items: flex-start;
    color: #181818;
    margin-top: 20px;
}

.right-i {
    color: #ffffff;
}

.icon-img {
    width: 24px;
    margin-top: 10px;
    margin-right: 15px;
}

.text-block {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 36px;
}

.info-text {
    color: #5e6d55;
    font-size: 16px;
}

.person-img {
    position: absolute;
    width: 310px;
    top: 24px;
    left: 580px;
}

.block-title-r {
    font-size: 33px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 236px;
}

.icon-img-r {
    width: 32px;
    margin-right: 15px;
}

.title-r-1 {
    font-size: 33px;
}

.title-r-2 {
    font-size: 38px;
}

.info-text-r {
    font-size: 16px;
}