* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.menu-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    height: 64px;
    font-family: Arial;
    font-size: 14px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.logo {
    width: 82px;
    margin-left: 170px;
}

.menu-block {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    height: 100%;
}

.item-block {
    height: 100%;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.arrow-img {
    width: 12px;
    margin-left: 3px;
}

.link-block {
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.drop-window {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: white;
    border: #dadada 1px solid;
    border-top: unset;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    visibility: hidden;
    transition-duration: .1s;
}

.item-block:hover .drop-window {
    visibility: visible;
}

.item-block:hover .arrow-img {
    transform: rotate(180deg);
}

.item-block:hover .item {
    color: #14a800;
}

.search-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #e9e9e9 1px solid;
    height: 40px;
    border-radius: 20px;
    margin-left: 250px;
}

.search-panel:hover{
    background-color: #e9e9e9;
}

.search-panel:hover .search-input{
    background-color: #e9e9e9;
}

.input-div:hover{
    background-color: #f9f9f9;
}

.input-div:hover .search-input{
    background-color: #f9f9f9;
}

.t:hover{
    background-color: #f9f9f9;
}

.search-panel > a{
    height: 100%;
}

.loupe {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 5px;
}

.input-div{
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.search-input {
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}

.t{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.arrow-t{
    margin-left: 1px;
    width: 12px;
}

.buttons {
    display: flex;
    align-items: center;
    height: 40px;
}

.buttons > a {
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 10px;
    height: 100%;
    color: black;
}

.sign-up {
    background-color: #108a01;
    color: white;
}